@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css);

#question {
    font-weight: 30px;
    font-size: 28px;
    margin-bottom: 50px;
}

.list-group {
    margin-left: 70px;
    margin-right: 70px;
    margin-bottom: 90px;
}

.btn-group {
  margin-bottom:40px;
  margin-top: 30px;
  margin-left: 50px;
}

#vis {
  position:relative;
  padding-bottom:100px;
}

.bar {
    fill: orange;
}

.bar:hover {
    fill: orangered;
}

.toolTip {
  position: absolute;
  display: none;
  min-width: 50px;
  height: auto;
  background: none repeat scroll 0 0 #ffffff;
  border: 1px solid #6F257F;
  padding: 6px;
  text-align: center;
}